@model DiplomaDataModel.Choice

@{
    ViewBag.Title = "Create";
}

<h2>Create Selection</h2>

@using (Html.BeginForm())
{
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.EditorForModel()
        <p><br /><input type="submit" value="Save" /></p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
