@model IEnumerable<DiplomaDataModel.Choice>

@{
    ViewBag.Title = "Index";
}


<br />
<div id="container">
    <label for="ddlYearTerms"><strong>Select a YearTerm</strong></label><br />
    @Html.DropDownList("id", (IEnumerable<SelectListItem>)ViewBag.slItems, new { id = "ddlYearTerms"})
    <br /><br/>
   
    <div id="dvChoiceResults">
        @{Html.RenderPartial("_IndexPartial", Model);}
    </div>
    
</div>  

@section Scripts{
<script type="text/javascript"  >
     
    $(document).ready(function () {
        $("#ddlYearTerms").change(function () {
            var termId =  $("#ddlYearTerms").val();
               $("#dvChoiceResults").load('@(Url.Action("GetChoices","Choices",null, Request.Url.Scheme))?Id=' + termId);
        });
    });

</script>  
}