@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityUser>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>
<table class="table">
    <tr>
        <th>
            Student Id
        </th>

        <th>
            Email
        </th>
        <th>
            Lockout Enabled
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
